# Learning Pandas

In [18]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)

print(df.head())     # View first few rows
print(df.info())     # Info about types and non-null counts

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Salary  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes
None

## Selecting And Filtering Data

In [19]:
# Select a column
print(df['Name'],"\n")

# Filter rows where Age > 30
print(df[df['Age'] > 30],"\n")

# Select multiple columns
print(df[['Name', 'Salary']])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

      Name  Age  Salary
2  Charlie   35   70000
3    David   40   80000

      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000
3    David   80000

## Cleaning Data

In [20]:

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)

# Introduce a missing value
df.loc[2, 'Salary'] = None

# Check for missing values
print("Missing values:\n", df.isnull())

# Fill missing values in 'Salary' column with 0 (safe method)
df['Salary'] = df['Salary'].fillna(0)

# Print the cleaned DataFrame
print("\nCleaned DataFrame:\n", df)


# Drop rows with any missing values (uncomment to use)
#df.dropna(inplace=True)
#print("\nDroped Rows with null values of DataFrame:\n", df)

Missing values:
     Name    Age  Salary
0  False  False   False
1  False  False   False
2  False  False    True
3  False  False   False

Cleaned DataFrame:
       Name  Age   Salary
0    Alice   25  50000.0
1      Bob   30  60000.0
2  Charlie   35      0.0
3    David   40  80000.0

## Aggregations And Grouping

In [21]:
# Create a new column
df['Department'] = ['IT', 'HR', 'IT', 'HR']

# Group by department
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
HR    70000.0
IT    25000.0
Name: Salary, dtype: float64

## Apply Functions
## Apply a lambda to a column

In [24]:
df['Salary_Doubled'] = df['Salary'].apply(lambda x: x * 2)
print(df.head())

      Name  Age   Salary Department  Salary_Doubled
0    Alice   25  50000.0         IT        100000.0
1      Bob   30  60000.0         HR        120000.0
2  Charlie   35      0.0         IT             0.0
3    David   40  80000.0         HR        160000.0

## Sorting And Indexing

In [33]:
# Sort by Age
df_sorted = df.sort_values(by='Age', ascending=False)
print(df_sorted)

# Set custom index
df = pd.DataFrame(data)
df.set_index('Name', inplace=True)
print("Updated Dataframe:\n",df.head())

         Age  Salary
Name
David     40   80000
Charlie   35       0
Bob       30   60000
Alice     25   50000
         Age  Salary
Name
Alice     25   50000
Bob       30   60000
Charlie   35       0
David     40   80000

In [32]:
#Sorting And Indexing

# Recreate the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 0, 80000]
}
df = pd.DataFrame(data)

# Sort by Age descending (does not modify original df)
df_sorted = df.sort_values(by='Age', ascending=False)
print("Sorted by Age:\n", df_sorted)

# Set 'Name' as the index (works because it's still a column)
df.set_index('Name', inplace=True)
print("\nDataFrame with 'Name' as index:\n", df)

Sorted by Age:
       Name  Age  Salary
3    David   40   80000
2  Charlie   35       0
1      Bob   30   60000
0    Alice   25   50000

DataFrame with 'Name' as index:
          Age  Salary
Name
Alice     25   50000
Bob       30   60000
Charlie   35       0
David     40   80000

## Merging And Joining

In [23]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

print(df1.info)
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Score': [85, 90, 88]
})

print(df2.info)
# Merge on 'ID'
merged = pd.merge(df1, df2, on='ID', how='inner')  # Try 'left', 'outer'
print(merged.info)

<bound method DataFrame.info of    ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie>
<bound method DataFrame.info of    ID  Score
0   1     85
1   2     90
2   4     88>
<bound method DataFrame.info of    ID   Name  Score
0   1  Alice     85
1   2    Bob     90>

## Reading And Writing to CSV Files

In [25]:
# Read from CSV
df = pd.read_csv('symbols_valid_meta.csv')
print(df.info)

# Write to CSV
df.to_csv('output.csv', index=False)

<bound method DataFrame.info of      Nasdaq Traded Symbol                                      Security Name  \
0                Y      A            Agilent Technologies, Inc. Common Stock
1                Y     AA                    Alcoa Corporation Common Stock
2                Y   AAAU                       Perth Mint Physical Gold ETF
3                Y   AACG  ATA Creativity Global - American Depositary Sh...
4                Y   AADR                AdvisorShares Dorsey Wright ADR ETF
...            ...    ...                                                ...
8044             Y    ZUO                   Zuora, Inc. Class A Common Stock
8045             Y    ZVO                          Zovio Inc. - Common Stock
8046             Y   ZYME                       Zymeworks Inc. Common Shares
8047             Y   ZYNE       Zynerba Pharmaceuticals, Inc. - Common Stock
8048             Y   ZYXI                         Zynex, Inc. - Common Stock

     Listing Exchange Market Category ETF  Round Lot Size Test Issue  \
0                   N                   N           100.0          N
1                   N                   N           100.0          N
2                   P                   Y           100.0          N
3                   Q               G   N           100.0          N
4                   P                   Y           100.0          N
...               ...             ...  ..             ...        ...
8044                N                   N           100.0          N
8045                Q               Q   N           100.0          N
8046                N                   N           100.0          N
8047                Q               G   N           100.0          N
8048                Q               S   N           100.0          N

     Financial Status CQS Symbol NASDAQ Symbol NextShares
0                 NaN          A             A          N
1                 NaN         AA            AA          N
2                 NaN       AAAU          AAAU          N
3                   N        NaN          AACG          N
4                 NaN       AADR          AADR          N
...               ...        ...           ...        ...
8044              NaN        ZUO           ZUO          N
8045                N        NaN           ZVO          N
8046              NaN       ZYME          ZYME          N
8047                N        NaN          ZYNE          N
8048                N        NaN          ZYXI          N

[8049 rows x 12 columns]>